// colors
$primaryDefault: #4e60ff;
$primaryLight: #f3f4ff;
$neutralWhite: #ffffff;
$neutralBlack: #2b2b43;
$neutralGray: #83859c;
$neutralGrayLightest: #edeef2;

// font weight
$regular: 400;
$semiBold: 600;
$bold: 700;
